@CHARSET "UTF-8";

h2 {

}

#header{
	border-bottom: 1px solid black;
	text-align: center;
}

#maincontent {
	margin-top:25px;
	margin-bottom: 25px;
}

#footer {
	border-top: 1px solid black;
	clear: both;	
}

#menu {
	float:left;
	width: 20%;
}

#content {
	width: 60%;
	float: left;
	text-align: center;
}

#gameinfo {
	width: 20%;
	float: left;
}

#gamearea {
	border: 1px solid silver;
	margin-bottom: 25px;
}

.blue {
	color: blue;
	font-weight: bold;
}

.red {
	color: red;
	font-weight: bold;
}

.help {
	float: right;
}

.bigdiv {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	display: block;
	background-image: url(../balcktrans.png);
	background-repeat: repeat:
	z-index: 10;
	
	visibility: hidden;
}

.smalldiv {
	width: 800px;
	
	background-color: white;
	
	margin-top: 130px;
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 5px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	
	z-index:20;
}